name: clean_architecture_workspace

publish_to: none

environment:
  sdk: ^3.10.0

workspace:
  - packages/architecture_lints
  - packages/clean_architecture_core
  - packages/clean_architecture_kit
  - packages/clean_architecture_lints_experimental
  - examples/clean_feature_first

dev_dependencies:
  melos: ^7.3.0
  very_good_analysis: ^10.0.0

melos:
  scripts:
    analyze:
      name: Custom Lint Analysis
      description: Runs custom_lint on the example project.
      packageFilters:
        scope:
          - clean_feature_first
      run: dart run custom_lint

    watch:
      name: Custom Lint Watch
      description: Runs custom_lint in watch mode on the example project to test plugin changes.
      packageFilters:
        scope:
          - clean_feature_first
      # The command to run inside the example folder
      run: dart run custom_lint --watch