{{#imports.items}}
import '{{.}}';
{{/imports.items}}

{{#params.hasMany}}
typedef {{paramsClassName}} = ({
  {{#params.data.items}}
  {{type}} {{name}},
  {{/params.data.items}}
});
{{/params.hasMany}}

{{#requiredAnnotations.items}}
@{{type}}()
{{/requiredAnnotations.items}}
class {{usecaseName}} implements {{baseClassName}}<{{classGenerics}}> {
  final {{repoName}} {{repoVar}};

  const {{usecaseName}}(this.{{repoVar}});

  @override
  {{methodReturnType}} call({{params.argument}}) {
    return {{repoVar}}.{{source.name.value}}(
      {{#params.isSingle}}
      {{#params.data.items}}
      {{#isNamed}}{{name}}: {{/isNamed}}{{name}}
      {{/params.data.items}}
      {{/params.isSingle}}
      {{#params.hasMany}}
      {{#params.data.items}}
      {{#isNamed}}{{name}}: {{/isNamed}}params.{{name}},
      {{/params.data.items}}
      {{/params.hasMany}}
    );
  }
}
